<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD de Producto</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
	 <div class="form-inline my-2 my-lg-0 ml-auto">
        <img th:src="${'/foto_usuario/' + foto}" alt="Profile" class="profile-pic" style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover;">
        <p>Bienvenido, <span th:text="${nombreUsuario}"></span></p>
        <a class="btn btn-outline-danger ml-2" th:href="@{/logout}" role="button">Logout</a>
       </div>
    <div class="container">
        <h2>Lista producto</h2>
		<div class="text-right mr-4">
                <a target="_blank" th:href="@{/generar_pdf}" class="btn btn-info mt-3">Generar PDF</a>
        </div>
		<a th:href="@{/registrar_producto}" class="btn btn-primary">Registrar</a>
        
        <table class="table mt-4">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre producto</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>categoria</th>
                    <th>accion</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="producto : ${listaprod}">
                    <td th:text="${producto.productoId}"></td>
                    <td th:text="${producto.nombreProducto}"></td>
                    <td th:text="${producto.precio}"></td>
                    <td th:text="${producto.stock}"></td>
                    <td th:text="${producto.categoriaEntity.nombreCategoria}"></td>
                    <td>
                    <a th:href="@{/ver_producto/{id}(id=${producto.productoId})}" class="btn btn-info">Ver</a> |
                    <a th:href="@{/editar_producto/{id}(id=${producto.productoId})}" class="btn btn-warning">Editar</a>  
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>